.secret-nav{
  display: none;
}
.padded{
  padding: $padding;
}
.responsive{
  max-width: 100%;
  max-height: 100%;
}
.center{
  margin: auto;
  display: block;
}
.padding{
  padding: $padding;
}
.circle{
  border-radius: 50%;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
