article{
  img{
    // max-width: 30%;
  }
}
@media screen and (max-width: $tablet){
  article{
    img, img.float-right{
      float: none;
      display: block;
      margin: auto;
      width: 30%;
    }
  }
}
