@media screen and (max-width: $tablet){
  .navigation{

    .links{
      display: none !important;
    }
    .secret-nav{
      display: block;
      a{
        color: white;
      }
    }
  }
}
.container{
  margin-top: $nav-offset;
}
.logo{
  transition: transform .2s ease-in-out;
}
.logo:hover{
  transform: scale(1.2);
}
.navigation{
  box-shadow: 0 7px 0 rgba(darken($accent-blue, 5%), 1);
  position: fixed;
  top:0;
  width: 100%;
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: $accent-blue;
  .logo{
    width: 120px;
    margin-top: 65px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
    overflow:hidden;
    box-shadow: 0 1px 1px rgba($dark-gray, .4);
    z-index: 9999;
    img{
      margin-top: 13px;
      width: 65%;
    }
  }


  h1{
    align-self: flex-start;
    align-content: center;
    color: white;
  }
  .links{
    display: flex;
    a{
      color: white;
      text-decoration: none;
    }
  }
}
