@media screen and (max-width: $tablet){
  .navigation{
    .links{
      display: none !important;
    }
    .secret-nav{
      display: block;
      a{

        color: white;
      }
    }
  }
}
.navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: $accent-blue;

  h1{
    align-self: flex-start;
    align-content: center;
    color: white;
  }
  .links{
    display: flex;
    a{
      color: white;
      text-decoration: none;
    }
  }
}
