
html, body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // height: 100%;
}
h1{
  // margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;

}
 div{
  //  border: 1px dashed transparent;
  //  border: 1px dashed orange;
 }


 // body{
 //   background-color: black;
 // }
