.field {
  display:flex;
  position:realtive;
  margin:5em auto;
  width:60%;
  flex-direction:row;
  @include animation(fadein .4s ease-in);
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em $sans-serif;

}

input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid lighten($accent-blue, 5%);
  transition: border-color .5s ease-in-out;

  // border-color: $dark-gray;
}

button {
  padding:0.6em 0.8em;
  background-color:lighten($accent-blue, 5%);
  color:white;
  border:none;
  transition: background-color .5s ease-in-out;
  &:hover{
    background-color: $dark-gray;
  }
}
button:hover + input[type=text]{
  border-color: $dark-gray;
}
