.navigation{
  height: $nav-size;
}
.container{
  position: relative;
}
.margin .book-wrapper{
  // margin-top: 60px;
  // border-color: red;
}
.splash{
  text-align: center;
  // margin-top: 50px;
}
.books{
  position: relative;
}
.book-wrapper:first-of-type:before, article:after, .middle-content:after{
  position: absolute;
  content:"";
  bottom: -30px;
  left: 50%;
  transform: translateX(-35px);
  @include triangle(70px, white, down);
}


.middle-content{
  overflow: hidden;
  div{
    transition: all .25s ease-in-out .25s;
    cursor: pointer;
    h3{
      transition: all .25s ease-in-out;
    }
  }
  div:hover h3{
    transform: scale(.7);
    margin-top: -10px;

  }
  div:hover{
    transform: scale(1.2);
  }
  @media (max-width: $tablet){
    flex-direction: column;
    align-items: center;

    div{
      width: 100%;
      text-align: center;
    }
    div:nth-of-type(odd){
      background-color: darken($light-beige, 5%);
    }
  }
  h3{
    text-align: center;
    margin-top: 50px;
  }
  img{
    width: 143px;
    height: 143px;
  }
  background-color: $light-beige;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  // height: 100vh;
  min-height: 300px;
  div{
    padding: $padding;
  }

}
