$dark-gray: #23232B;
$accent-blue: #0176D5;
$accent-red: #D9593D;
$light-gray: #F6F6F6;
$light-beige: #FBF7F0;
// $title-font: 'Fjalla One', sans-serif;
// $body-font: 'Arvo', serif;


//font system
$base-border-radius: 3px !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;
$action-color: #477DCA !default;
$dark-gray: #333 !default;
$light-gray: #DDD !default;
$medium-screen: 40em !default;
$base-font-color: $dark-gray !default;
// $sans-serif: 'Questrial', sans-serif;
$sans-serif: 'Questrial', sans-serif;
// $serif: 'Sanchez', serif;
$serif: 'Arvo', serif;


$padding: 15px;


//breakpoints
$tablet: 820px;
$large: 1355px;
$mobile: 500px;
