    </div>
    <div class="footer">
      <div class="twitter">
        <a href="#"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>

      </div>
      <div class="facebook">
        <a href="#"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>

      </div>
      <div class="linkedin">
        <a href="#"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="modal">
        <label for="modal-1">
          <!-- <div class="modal-trigger">Click for Modal</div> -->
        </label>
        <input class="modal-state" id="modal-1" type="checkbox" />
        <div class="modal-fade-screen">
          <div class="modal-inner">
            <div class="modal-close" for="modal-1"></div>
            <h1>This Section is Under Constructions</h1>
            <p class="modal-intro">I'm still working on this section.</p>
            <p class="modal-content">
Work in progress.
            </p>
          </div>
        </div>
      </div>


  </body>
</html>
