<div class="navigation">
  <h1>Colonus Publishing</h1>
  <div class="links">
    <a href="#">Books</a>
    <div class="dropdown nav">
      <a href="#" class="drop-button">Authors ></a>
      <div class="dropdown-content">
        <a href="#">Angie Sarich</a>
        <a href="#">Scott Poole</a>
        <a href="#">Richard Skalstad</a>
        <a href="#">Michelle Bonczek Evory</a>
        <a href="#">Dan Morris</a>
      </div><!--end dropdown content-->
    </div><!--end dropdown-->
    <div class="dropdown nav">
      <a href="#" class="drop-button">Editor ></a>
      <div class="dropdown-content">
        <a href="#">Contact Editor</a>
        <a href="#">About Editor</a>
        <a href="#">Letter to Writer</a>
        <a href="#">Letter to Reader</a>
      </div><!--end dropdown content-->
    </div><!--end dropdown-->
    <div class="dropdown nav">
      <a href="#" class="drop-button">More ></a>
      <div class="dropdown-content">
        <a href="#">Submission Guidelines</a>
        <a href="#">Connect with Colonus</a>
        <a href="#">Literary Awards</a>
        <a href="#">Award Winners</a>
      </div><!--end dropdown content-->
    </div><!--end dropdown-->
    <a href="#">Submissions</a>
  </div><!--end links-->
  <div class="secret-nav">
    hamburger
  </div>
</div>
