<div class="navigation">
  <div class="links">
    <a href="{{site.baseurl}}/books.html">Books</a>
    <div class="dropdown nav">
      <a href="{{site.baseurl}}/authors/" class="drop-button">Authors <i class="fa fa-angle-right" aria-hidden="true"></i></a>
      <div class="dropdown-content">
        <a href="{{site.baseurl}}/award-winner.html">Featured Author</a>
        <a href="{{site.baseurl}}/authors/">All Authors</a>
      </div><!--end dropdown content-->
    </div><!--end dropdown-->
  </div>
    <div class="logo">
      <a href="{{site.baseurl}}/index.html">
        <img src="{{site.baseurl}}/img/logo.jpg" class="center responsive" alt="colonus logo" />
      </a>

    </div>
    <div class="links">
    <div class="dropdown nav">
      <a href="{{site.baseurl}}/editor.html" class="drop-button">Editor <i class="fa fa-angle-right" aria-hidden="true"></i></a>
      <div class="dropdown-content">
        <a href="{{site.baseurl}}/editors-notes/index.html">Letter to Writer</a>
        <a href="{{site.baseurl}}/editors-notes/letter-reader.html">Letter to Reader</a>
      </div><!--end dropdown content-->
    </div><!--end dropdown-->

    <div class="dropdown nav">
      <a href="#" class="drop-button">More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
      <div class="dropdown-content">
        <a href="{{site.baseurl}}/editors-notes/submissions.html">Submission Guidelines</a>
        <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwjT35K89JnRAhVG8mMKHcx8Co8QFggaMAA&url=https%3A%2F%2Fwww.facebook.com%2FColonus-Publishing-795908447142737%2F&usg=AFQjCNF6DXSZ_ocGb1o6Kvn6sZCy7Rfb9w&bvm=bv.142059868,d.cGc">Connect with Colonus</a>
        <a href="{{site.baseurl}}/prizes/">Literary Prizes</a>
        <a href="{{site.baseurl}}/award-winner.html">Award Winners</a>
      </div><!--end dropdown content-->
    </div><!--end dropdown-->
  </div>
  <!--end links-->
  <div class="secret-nav">
    <a href="#"  class="js-menu-trigger sliding-panel-button">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
  </div>
  {% include flyout-menu.html %}
</div>
