article{
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  .row:first-of-type{
    display: flex;
    align-items: flex-start;
  }
}

@media screen and (max-width: $tablet){
  article{
    width: 95%;
    .row{
      flex-direction: column;
      img{
        float: none;
        clear: both;
        max-width: 50%;
        display: block;
        margin: auto;
      }
    }

  }
}
// .splash{
//   height: 300px;
//   background-color: $dark-gray;
// }
